--path: "../lib"
# Btw this relies on a Nim bug where it interprets the --outdir relative to the current directory
# instead of the directory of this nim.cfg file.
--outdir: "bin"
--styleCheck: off
# Make NIFC more robust against broken NIF inputs:
--define: showBroken
# nifc was specifically migrated to take advantage of the in-memory
# virtual-ParRi optimization (sealed jump fields + ParRi elision).
--define: virtualParRi
